<div class="card p-3">
   

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Name</th>
                <th>Parent</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let feature of features">
                <td>{{ feature.name }}</td>
                <td>{{ feature.displayName }}</td>
                <td>{{ feature.parentName || '-' }}</td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>
