<?xml version="1.0" encoding="utf-8"?>

<log4net>
    <!-- File Appender for all logs -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="../../../App_Data/Logs/Logs.txt" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="10000KB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
        </layout>
    </appender>

    <!-- Console Appender for development -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
        </layout>
    </appender>

    <!-- Logger for Feature operations -->
    <logger name="AkeoIN.SuperQA.ProductFeature">
        <level value="DEBUG" />
    </logger>

    <!-- Logger for Scenario operations -->
    <logger name="AkeoIN.SuperQA.Scenarios">
        <level value="DEBUG" />
    </logger>

    <!-- Root logger -->
    <root>
        <level value="INFO" />
        <appender-ref ref="RollingFileAppender" />
        <appender-ref ref="ConsoleAppender" />
    </root>
</log4net>